/* #BASE CSS (Initital Setup)
---------------------------------
    #BASE CONTENT
        #TYPOGRAPHY
            #BODY
            #HEADINGS
            #PARAGRAPHS
            #LINKS
            #HELPERS
        #MEDIA
            #IMAGES
        #COMPONENTS
            #BUTTONS
    #BASE LAYOUT
        #SIMPLE RESET
        #MEDIAQUERIES
        #CONTAINER
        #GRID SYSTEM
            #CLEARFIX
    #BASE SITE
        #SITE STR UCTURE
            #HEADER
                # site-id (LOGO)
            #FOOTER 
            #SECTIONS
            #SUB PAGES
                #ARTICLES
        #SITE NAVIGATION
            #TOGGLE-NAV (Default for Small Screens)
--------------------------------- */

/* GLOBGAL RESET */
body {
    margin: 0;
}
* {
    box-sizing: border-box;
}


/* GLOBAL COLORS*/
a {
    color: rgba(73, 167, 255, 0.734);
}

a:hover {
    color: rgb(0, 85, 255);
}

/* GLOBAL TYPOGRAPHY*/
body {
    font-family: Helvetica, Arial, sans-serif;
    /* font-size: 88.75%; */
    line-height: 1.4;
}

/* Header */
header {
    background-color: rgba(57, 101, 156, 0.864);
    color: rgba(250, 247, 247, 0.8);
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

header a {
    color: rgba(243, 243, 243, 1);
    text-decoration: none;
}

header a:hover {
    color: rgb(0, 85, 255);
}

/* CUSTOM STYLING */

/* SITE ID*/
.site-id h1 {
    margin: 0;
}

/* SITE NAV */
.site-nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav a {
    display: block;
    padding: 1em;
}

/* MAIN */
main {
    background: rgba(250, 227, 159, 0.05)
}

/* FOOTER */
footer {
    border-top: 1px solid rgb(0, 0, 0, .05);
    padding: 1em;
}


/* SOCIAL NAV */
.social-nav ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;

}

.social-nav a {
    display: block;
    padding: 1em;
}

/* LAYOUT */
.container {
    max-width: 1000px;
    margin: 0 auto;
}

section {
    padding: 3em 1em;
}

/* HERO SECTION */
.hero {
    background-color: rgba(192, 218, 255, 0.56);
    color: rgba(28, 61, 128, 0.8);
    text-align: center;
    padding: 8em 1em;
}

.hero h2 {
    font-size: 5em;
    line-height: 1;
    text-transform: uppercase;
    margin: 0 auto;
}

.hero p {
    max-width: 50em;
    margin: 1em auto;
}

/* STYLING FOR SUB PAGES */
/* .page-sub .hero {
    background-color: rgba(255, 255, 255, 0.858);
    color: rgba(250, 247, 247, 0.8);
} */


/* command+  / comments comment tag */


/* OVERLAPPING CARDS */
.overlapping-cards {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    /* margin-bottom: calc(100% - 70vw); */
    padding-left: 2em;
    padding-right: 2em;
    border: 1.5px solid red;
    display: grid;
    grid-template-rows: repeat(var(--cards-count), var(--card-height));
    gap: 5svh;
}
.overlapping-cards {
    margin-bottom: 0;
}
@media (min-width: 450px) {
    .overlapping-cards {
        margin-bottom: 50px;
    }
}
@media (min-width: 767px) {
    .overlapping-cards {
        margin-bottom: 150px;
    }
}
@media (min-width: 1000px) {
    .overlapping-cards {
        margin-bottom: 10vw;
    }
}
.ocard {
    position: sticky;
    top: 0;
    bottom: 4;
}

.inner-ocard {
    will-change: transform;
    background: white;
    border-radius: 14px;
    display: flex;
    overflow: hidden;
    box-shadow: 0 25px 50px -12px hsla(265.3, 20%, 10%, 35%);
    transform-origin: center top;
}
.ocard-image-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}
.ocard-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* aspect-ratio: 1.7; */
    object-position: center;
}

.featured-works-heading {
    color: red;
    margin-bottom: 2em;
}


.works-heading {
    color: navy;
    margin-bottom: 2em;
}
